.customModal {
	background-color: #ffffff;
	border-radius: 10px;
	width: 700px;
	height: 440px;
	direction: rtl;
}
.customOverlay {
	background: rgba(0, 0, 0, 0.38);
}
.react-responsive-modal-closeButton {
	left: 14px;
	right: auto;
}
.react-responsive-modal-modal {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}
